---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
import { SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
import { fetchLandingPage, fetchBlogPostBySlug } from "../lib/contentful";
const landingPage = await fetchLandingPage();

if (!landingPage) {
	throw new Error("Landing page data not found in Contentful.");
}
const { internalName, seoFields, featuredBlogPost, landingpageImage } =
	landingPage;

const featuredPost = featuredBlogPost
	? await fetchBlogPostBySlug(featuredBlogPost.slug)
	: null;
---

<Layout
	title="Code. Create. Deploy. "
	description={seoFields?.description || SITE_DESCRIPTION}
	pubDate={new Date()}
>
	<div class="intro-section">
		<div class="intro-text">
			<h1>{internalName}</h1>

			<p>
				junior full-stack developer based in Antwerp, Belgium, with a passion
				for crafting elegant and user-friendly web applications.
				Currently, I'm pursuing an Associate Degree in Programming at
				Artesis Plantijn Hogeschool Antwerpen, where I'm enhancing my
				skills in web development and software engineering. I'm actively
				expanding my expertise in technologies such as React, C#,
				TypeScript, Express, and Angular. You can explore my projects
				and contributions on my GitHub profile.
			</p>
		</div>
		<div class="intro-img">
			<img
				src={landingpageImage}
				alt="Kubra Kizikilic"
				width="200"
				loading="lazy"
			/>
		</div>
	</div>
	<p></p>
	<hr />
	<br />
	<br />
	{
		featuredPost && (
			<section class="featured-section">
				{" "}
				<h2>Featured Blog Post</h2>
				<article>
					<a href={`/blog/${featuredPost.slug}/`} class="blog-link">
						<h3>{featuredPost.title}</h3>
						{featuredPost.featuredImage && (
							<img
								src={featuredPost.featuredImage}
								width="1200"
								height="600"
								loading="lazy"
							/>
						)}
					</a>
				</article>
			</section>
		)
	}
</Layout>

<style>
	h1 {
		font-size: 2.5em;
		color: #ba5765;
	}
	h2 {
		color: #ba5765;
	}
	h3 {
		color: #ba5765;
	}
	a {
		color: #ba5765;
	}
	.intro-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		margin-top: 2rem;
		flex-wrap: wrap;
	}

	.intro-text {
		flex: 1;
	}

	.intro-image img {
		border-radius: 50%;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	}
	.blog-link {
		text-decoration: none;
		color: inherit;
		display: inline-block;
		transition: transform 0.2s ease;
	}

	.blog-link:hover {
		transform: scale(1.02);
	}

	.blog-link img {
		border-radius: 8px;
		transition: transform 0.3s ease;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
	}

	.blog-link:hover img {
		transform: scale(1.02);
	}

	.featured-section {
		margin-top: 4rem;
	}
</style>
