---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
import { fetchLandingPage, fetchBlogPostBySlug } from "../lib/contentful";
// Fetch the landing page data from Contentful
const landingPage = await fetchLandingPage();

if (!landingPage) {
	throw new Error("Landing page data not found in Contentful.");
}
const { internalName, seoFields, featuredBlogPost, landingpageImage } =
	landingPage;

// Fetch blog posts if needed (e.g., for the featured blog post)
// Fetch the featured blog post by its slug
const featuredPost = featuredBlogPost
	? await fetchBlogPostBySlug(featuredBlogPost.slug)
	: null;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={seoFields?.title || SITE_TITLE}
		/>
	</head>
	<body>
		<Header />
		<main>
			<h1>{internalName}</h1>
			<div>
				<img
					src={landingpageImage}
					alt="Kubra Kizikilic"
					width="120"
					height="60"
					loading="lazy"
				/>
				<p>
					I'm Kubra Kizikilic, IT developer based in Antwerp, Belgium.
					I'm currently pursuing an Associate Degree in Programming at
					Artesis Plantijn Hogeschool Antwerpen, where I'm enhancing
					my skills in web development and software engineering.
				</p>
			</div>
			<p></p>
			{
				featuredPost && (
					<section>
						<h2>Featured Blog Post</h2>
						<article>
							<h3>{featuredPost.title}</h3>
							{featuredPost.featuredImage && (
								<img
									src={featuredPost.featuredImage}
									width="1200"
									height="600"
									loading="lazy"
								/>
							)}
							<p>{featuredPost.shortDescription}</p>
							<a href={`/blog/${featuredPost.slug}/`}>
								Read More
							</a>
						</article>
					</section>
				)
			}
		</main>
		<Footer />
	</body>
</html>
